html,body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.liquidClearFix {
    clear:both;
}

.clear {
    clear:both;
}
div, ul, li, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    zoom: 1;
    float:left;
}

div:before, ul:before, article:before, aside:before, details:before, figcaption:before, figure:before, footer:before, header:before, hgroup:before, menu:before, nav:before, section:before, div:after, ul:after, article:after, aside:after, details:after, figcaption:after, figure:after, footer:after, header:after, hgroup:after, menu:after, nav:after, section:after {
    content: "";
    display: table;
}

div:after, ul:after, article:after, aside:after, details:after, figcaption:after, figure:after, footer:after, header:after, hgroup:after, menu:after, nav:after, section:after {
    clear: both;
}

.liquid div:after, .liquid ul:after, .liquid article:after, .liquid aside:after, .liquid details:after, .liquid figcaption:after, .liquid figure:after, .liquid footer:after, .liquid header:after, .liquid hgroup:after, .liquid menu:after, .liquid nav:after, .liquid section:after {
    clear: none;
}

#colorbox div:before {
    content: none;
}

.cf {
    zoom: 1;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cfliquidrow {
    zoom: 1;
}

.cfliquidrow:before, .cfliquidrow:after {
    content: "";
    display: table;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size:1.8em;
    margin: 0.67em 0;
}

h2 {
    font-size:1.5em;
    margin: 0.75em 0;
}

h3 {
    font-size:1.17em;
    margin: 0.83em 0;
}

h4 {
    font-size:1em;
    margin: 1.5em 0;
}

h4, p, blockquote, ul, fieldset, form, ol, dl, dir, menu {
    margin: 1.12em 0;
}

ol, ul, dir, menu, dd {
    padding-left: 40px;
}

ol ul, ul ol, ul ul, ol ol {
    margin-top: 0;
    margin-bottom: 0;
}

h5 {
    font-size:0.83em;
    margin: 1.5em 0;
}

h6 {
    font-size:0.67em;
    margin: 1.67em 0;
}

p {
    font-size:1em;
}
span {
    font-family: inherit;
    border-color:#000000;
    border-width:0px;
}.main_wrapper {
    clear: both;
    min-height: 800px;
    width: 960px;
    margin: 0px auto;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(10%, #FFFFFF), color-stop(100%, #8a868a));
    background-image:-webkit-linear-gradient( top,#FFFFFF 10%,  #8a868a 100%);
    background-image:-moz-linear-gradient( top,#FFFFFF 10%,  #8a868a 100%);
    background-image:-o-linear-gradient( top,#FFFFFF 10%,  #8a868a 100%);
    background-image:-ms-linear-gradient( top,#FFFFFF 10%,  #8a868a 100%);
    background-image:linear-gradient( to bottom,#FFFFFF 10%,  #8a868a 100%);
}

.row_6 {
    clear: both;
    min-height: 79px;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(89%, #4d4d4d), color-stop(100%, #b3b1b3));
    padding-left:20px;
    background-image:-webkit-linear-gradient( top,#4d4d4d 89%,  #b3b1b3 100%);
    background-image:-moz-linear-gradient( top,#4d4d4d 89%,  #b3b1b3 100%);
    background-image:-o-linear-gradient( top,#4d4d4d 89%,  #b3b1b3 100%);
    background-image:-ms-linear-gradient( top,#4d4d4d 89%,  #b3b1b3 100%);
    background-image:linear-gradient( to bottom,#4d4d4d 89%,  #b3b1b3 100%);
}

.company_logo {
    width: 39px;
}

.company_logo img {
    float: left;
    margin-right: 13px;
}

.company_logo h2 {
    float: left;
    margin: 15px 0;
}

.company_logo h2 span {
    font-weight: normal;
}

.column_4 {
    float: left;
    min-height: 669px;
    width: 958px;
    border-color:#C7BFC7;
    border-left-width:1px;
    border-right-width:1px;
    border-style:none solid;
    border-bottom-width:1px;
    background:#EBEBEB;
    clear:both;
}

.column_6 {
    float: left;
    width: 479px;
    padding-bottom:5px;
}

.column_7 {
    float: left;
    min-height: 80px;
    width: 1px;
}

.column_11 {
    float: left;
    min-height: 80px;
    width: 100px;
    display:none;
}

.quote_article {
    border: 0;
    float: left;
    text-align: center;
    background: #EBEBEB no-repeat 22px 22px;
    width:458px;
    clear:none;
}

.quote_article p {
    margin: 0;
    padding: 0;
    color: #A5A5A5;
    font-style: italic;
    font-size: 14px;
}

.comment_with_button {
    margin: 10px 15px;
    padding: 15px 10px 15px 10px;
    background: #FFF;
    border: 1px solid #CCC;
    position: relative;
    width: 906px;
    overflow: hidden;
    float:left;
    min-height:30px;
    clear:both;
        overflow:visible;
}

.comment_content_wrapper {
    width: 85%;
    float: left;
    min-height: 25px;
    font-family:'Trebuchet MS',sans-serif;
        padding: 0 0 0 0;
        padding-top:5px;
}
.comment_with_button span img{
    left: -10px;
    position: absolute;
    top: -10px;
}
.comment_content_wrapper span.first{
        border-right: 1px solid #CFCFCF;
        padding:0 20px 7px 20px;
        width:240px;
        font-weight:bold;
        font-size:14px;
	text-align: left;
}
.comment_content_wrapper span{
    margin-right:10%;
        display: inline-block;
        margin-right:0px;
        width:105px;
        text-align:center;
        font-size:13px;
}
.list1 {
        font-family : Arial, Helvetica, sans-serif;
        text-align : left;
        font-size : 14px;
        line-height : 250%;
        height:100px;
        float:none;
        margin-top:1.12px;
        margin-bottom:1.12px;
}

.comment_with_button .button_container_wrapper {
    width: 15%;
    float: left;
    position: relative;
    min-height:30px;
}

.comment_with_button .button_container {
    height: 30px;
    width: auto;
    position: relative;
    overflow:hidden;
    border-left: 1px solid #CFCFCF;
    text-align: right;
}

.comment_with_button_btn_unit_wrapper {
    width: 150px;
    display: inline-block;
    min-height:14px;
}

a.comment_with_button_btn {
    margin: 0 0 0 10px;
    min-width:98px;
    display: block;
    width: 98px;
    text-decoration: none;
    color: #FFF;
    background-color: #7A0D0D;
    padding: 5px 10px 7px 10px;
    text-align: center;
    min-height:14px;
    font:12px Tahoma, Geneva, sans-serif;
    border-color:rgba(245, 245, 245, 0.519531);
    border-style:solid;
    border-width:1px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}


.article_fifteen {
    margin: 10px;
    padding: 15px;
    border: 0;
    float: left;
    background: #F4F4F4;
    width:426px;
    display:none;
}

img.article_fifteen_img {
    border: 3px solid #FFF;
    margin-right: 21px;
    float: left;
}

.article_fifteen h4 {
    margin: 0 0 17px;
    padding: 0;
}

.article_fifteen p {
    margin: 0;
    padding: 0;
}

.welcome_text {
    margin: 0;
    padding: 5px 25px 25px;
    border: 0;
    float: left;
    width:908px;
    min-height:130px;
        background: #FFFFFF;
}

img.welcome_text_img {
    border: 4px solid #FFF;
    float: left;
    /*width:77px;*/
    background:no-repeat scroll;
    max-width:100%;
    margin-right:35px;
    /*height:82px;*/
}

.welcome_text h1 {
    margin: 0 0 10px;
    padding: 0 0 0 5px;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:1em;
}
.welcome_text p {
    margin: 0;
    padding: 0;
    text-align:justify;
}

.copyright, .nrecopyright {
    float: left;
    min-height: 40px;
        padding-top:10px;
    margin:0;
    cursor: default;
    width:938px;
    padding-left:20px;
    border-color:#858185;
    border-style:none solid solid solid;
    border-width:1px;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #b3b3b3), color-stop(100%, #ebebeb));
    background-image:-webkit-linear-gradient( top,#b3b3b3 0%,  #ebebeb 100%);
    background-image:-moz-linear-gradient( top,#b3b3b3 0%,  #ebebeb 100%);
    background-image:-o-linear-gradient( top,#b3b3b3 0%,  #ebebeb 100%);
    background-image:-ms-linear-gradient( top,#b3b3b3 0%,  #ebebeb 100%);
    background-image:linear-gradient( to bottom,#b3b3b3 0%,  #ebebeb 100%);
}

.copyright .privacy_policy, .nrecopyright .privacy_policy {
    border-bottom: 1px solid #919191;
    cursor: pointer;
}

.copyright .privacy_policy:hover, .nrecopyright .privacy_policy:hover {
    border-bottom: 1px solid #77C4D3;
}

.company_logo h2 span.span {
    display: none;
}

.hmenubar {
    width:100%;
}
.hmenubar ul{
    list-style:none;
    padding:0;
    margin:0;
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
    width:100%;
    list-style-type:none;
    background:#E8E8E8;
}

.hmenubar ul li {
    margin:0;
    padding:0;
    display: inline-block;
    position: relative;
    background: transparent;
    text-align:center;
    border-right:1px solid #D1D1D1;
}

.hmenubar ul li a {
    display: block;
    margin: 0 7px 0 0;
    padding: 15px 15px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    width: auto;
    min-width: 100px;
    height: auto;
    font-weight: normal;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    text-transform: uppercase;
}

.hmenubar ul li a:hover {
    color: #000;
}
.hmenubar ul li+li.active {
    border-right: 0px;
}
.hmenubar ul li.active+li {
    border-left:1px solid #D8D8D8;
}

.hmenubar ul li.active {
    color: #666;
    background:#D1D1D1;
    font-weight: bold;
    border-right: 1px solid #FFF !important;
    border-left: 1px solid #FFF !important;
}
.hmenubar ul li:first-child{
    border-left: 0px !important;
}
.hmenubar ul li.active a{
    font-weight: bold;
}
.hmenubar ul li a.clicked {
    color: #666;
    background: #E8E8E8;
    border-right:1px solid #A8A8A8;
}
.hmenubar select {
    width:80%;
    padding:5px;
    border:2px solid #D3D3D3;
    display:none;
}

.hmenubar ul li a.anchor {
    display: none;
}

.hmenubar ul li a.anchor1 {
    display: none;
}

.hmenubar ul li a.anchor2 {
    display: none;
}

.hmenubar ul li a.anchor3 {
    display: none;
}

.hmenubar ul li a.anchor4 {
    display: none;
}

.hmenubar ul li a.anchor5 {
    display: none;
}

body {
    /*box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.33);
    min-width:960px;
    border-left:1px solid;
    border-right:1px solid;
    border-bottom:1px solid;*/
}

.company_logo img.image {
    float: left;
    margin-right:0px;
    display:block;
    margin-left:auto;
}
span.span1 {
    line-height: 20px;
    min-height:20px;
    position:relative;
}

p.paragraph {
    font:12px Tahoma, Geneva, sans-serif;
}

span.span2 {
    line-height: 0.5px;
}

p.paragraph1 {
    font-size: 12px;
    min-height:0px;
}

span.span3 {
    line-height: %;
    font-weight:bold;
}

span.span4 {
    line-height: 0em;
    float-offset:left;
    left:50px;
    position:relative;
    top:-30px;
    color:#F0F0F0;
    font-family:Tahoma, Geneva, sans-serif;
}

img.image2 {
    border-color: #000000;
    border-style:none;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    width:60px;
    height:60px;
    margin:10px;
}
img.image1 {
    width: 60px;
    height:60px;
    box-shadow:5px;
    -moz-box-shadow:5px;
    -webkit-box-shadow:5px;
    border-color:#000000;
    border-style:none;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    margin:10px;
}

img.image4 {
    margin:10px 10px 8px 10px;
    width:65px;
    height:65px;
}

img.image5 {
    margin:10px;
    width:60px;
    height:60px;
}

img.image3 {
    margin:10px;
    width:60px;
    height:60px;
}

a.anchor6 {
    color: #0000FF;
    font-weight: normal;
    text-decoration: none;
    font-size: 13px;
    width:auto;
    min-height:0px;
    display:none;
}
.column_6 {
    margin-top:0px;
    margin-bottom:15px;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(88%, #7a0d0d), color-stop(97%, #cc8686));
    margin-left:5px;
    background-image:-webkit-linear-gradient( top,#756C75 88%,  #756C75 97%);
    background-image:-moz-linear-gradient( top,#756C75 88%,  #756C75 97%);
    background-image:-o-linear-gradient( top,#756C75 88%,  #756C75 97%);
    background-image:-ms-linear-gradient( top,#756C75 88%,  #756C75 97%);
    background-image:linear-gradient( to bottom,#756C75 88%,  #756C75 97%);
}

span.span5, span.newspan {
    min-height:20px;
    top:0;
    margin:0 0 0 0;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 18px; color: #FFF; position: relative;
}

p.paragraph2, i.paragraph2 {
    border-left:1px solid;
}
.main_wrapper {
        -pie-background: linear-gradient( top,#FFFFFF 10%, #8a868a 100%);
        position: relative;
        behavior: url("/virtual/css/PIE.htc");
        float:none;
        background-image:-webkit-gradient(linear, left top, left bottom,color-stop(74%, #FFFFFF),color-stop(100%, #8a868a));
        background-image:-webkit-linear-gradient( top,#FFFFFF 74%, #8a868a 100%);
        background-image:-moz-linear-gradient( top,#FFFFFF 74%, #8a868a 100%);
        background-image:-o-linear-gradient( top,#FFFFFF 74%, #8a868a 100%);
        background-image:-ms-linear-gradient( top,#FFFFFF 74%, #8a868a 100%);
        background-image:linear-gradient( to bottom,#FFFFFF 74%, #8a868a 100%);
}



.row_6 {
        -pie-background: linear-gradient( top,#4d4d4d 89%, #b3b1b3 100%);
        position: relative;
        behavior: url("/virtual/css/PIE.htc");
        width:940px;
}
a.comment_with_button_btn {
        border-radius: 5px;
        position: relative;
        behavior: url("/virtual/css/PIE.htc");
}



.copyright, .nrecopyright {
        behavior: url("/virtual/css/PIE.htc");
        clear:both;
        background-image:-webkit-gradient(linear, left top, left bottom,color-stop(0%, #999999),color-stop(100%, #FFFFFF));
        min-height:4px;
        border-color:#858185;
        border-style:none;
        width:938px;
        border-width:1px;
        background-image:-webkit-linear-gradient( top,#999999 0%, #FFFFFF 100%);
        background-image:-moz-linear-gradient( top,#999999 0%, #FFFFFF 100%);
        background-image:-o-linear-gradient( top,#999999 0%, #FFFFFF 100%);
        background-image:-ms-linear-gradient( top,#999999 0%, #FFFFFF 100%);
        background-image:linear-gradient( to bottom,#999999 0%, #FFFFFF 100%);
}

.copyright {
        background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0%, #999999),color-stop(73%, #FFFFFF));
        background-image: -webkit-linear-gradient( top,#999999 0%, #FFFFFF 73%);
        background-image: -moz-linear-gradient( top,#999999 0%, #FFFFFF 73%);
        background-image: -o-linear-gradient( top,#999999 0%, #FFFFFF 73%);
        background-image: -ms-linear-gradient( top,#999999 0%, #FFFFFF 73%);
        background-image: linear-gradient( to bottom,#999999 0%, #FFFFFF 73%);
        min-height:20px;
        margin-top:10px;
        width:940px;
        font-size:12px;
}

.nrecopyright {
background-image:-webkit-gradient(linear, left top, left bottom,color-stop(0%, #000000),color-stop(0%, #FFFFFF));
background-image:-webkit-linear-gradient( top,#000000 0%, #FFFFFF 0%);
background-image:-moz-linear-gradient( top,#000000 0%, #FFFFFF 0%);
background-image:-o-linear-gradient( top,#000000 0%, #FFFFFF 0%);
background-image:-ms-linear-gradient( top,#000000 0%, #FFFFFF 0%);
background-image:linear-gradient( to bottom,#000000 0%, #FFFFFF 0%);
min-height:1px;
}
body {
        position: relative;
        behavior: url("/virtual/css/PIE.htc");
}



img.image2 {
        border-radius: 10px;
        position: relative;
        behavior: url("/virtual/css/PIE.htc");
}



img.image1 {
        border-radius: 10px;
        position: relative;
        behavior: url("/virtual/css/PIE.htc");
}



h1.heading {
        -pie-background: linear-gradient( top,#7a0d0d 88%, #cc8686 97%);
        position: relative;
        behavior: url("/virtual/css/PIE.htc");
        text-shadow:5px 5px 5px #756C75;
        -moz-text-shadow:5px 5px 5px #756C75;
        -webkit-text-shadow:5px 5px 5px #756C75;

}

span.span7 {
        margin-top: 10px;
}

li.newtest {
        width: 251px;
        font:normal normal normal 15px/50px Trebuchet MS, sans-serif;
}

.content {
  float:none;
}


#content {
  min-height:585px;
  width:100%;
}

.content #content{
    padding-top:0px;
    border:0px;
}
.content h1,.content h3, .content h2 {
  color: #000000;
}
.content h3 {
    font-size:17px;
}
div.form{
    width:100%;
    padding:15px;
}


div.row {
    clear:both;
    width:100%;
}

div.row input, div.row label {
   float:left;
}
div.row label {
     width:135px;
     text-align:right;
     margin-right:10px;
}
.request-server div.row label {
     width:150px;
     text-align:right;
     margin-right:10px;
}

div.listserver {
  padding:0px;
  width:100%;
  font-family:Tahoma,Geneva,sans-serif;
  background-position: center top;
}

div.listserver table,div.listserver th,div.listserver td {
    border-bottom: 1px solid #CCCCCC;
    padding: 6px; 
}
label.apr_label {
    color:#00BEDC;
    font-weight:bold;
    margin-right:5px;
}
#newServer {
    background-color: #A897A8;
    border: 1px solid #A897A8;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    color: #FFFFFF;
    font-size: 11px;
    margin-right: 20px;
    padding: 3px 10px 5px;
    text-decoration: none;
}

span.role_type {
    background: none repeat scroll 0 0 #A897A8;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 10px;
    left: -697px;
    padding: 1px 7px 4px;
    position: relative;
    top: 15px;
}
span.large {
    background: none repeat scroll 0 0 #A897A8;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 10px;
    left: -697px;
    padding: 1px 12px 4px;
    position: relative;
    top: 18px;
}

span.medium {
    background: none repeat scroll 0 0 #A897A8;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 10px;
    left: -697px;
    padding: 1px 7px 4px;
    position: relative;
    top: 18px;
}
.pending-delete {
   background:none repeat scroll 0 0 #FFEEEE;
}
.yiiPager {
    float:none;
}
.actionServer, .flavor, .actionSnap, .landscape, .outer {
    background-color: #D3D3D3;
    border: medium none;
    font-family: Tahoma,Geneva,sans-serif;
    height: 25px;
    padding: 2px;
    width: 120px;
}
.landscape{
	width: 143px;
}
.hostname {
    overflow: hidden;
    width:240px !important;
}

.column_6 select {
background-color: #756C75;
    border: 1px solid #A897A8;
    color: #FFFFFF;
    font-family: Tahoma,Geneva,sans-serif;
    height: 28px;
    left: 535px;
    padding: 3px;
    position: relative;
    width: 200px;
}

.availability {
    color: #FFA500;
    left: -20px;
    position: relative;
    top: 20px;

}
.unavailable {
    background-color: #CCC !important;
}
#myslidemenu ul li span {
    color:#666666
}
span > .more-details {
    left: 300px;
    position: relative;
    top: 14px;
    color:#756C75;
    font-weight:bold;
}
.row+.secondary_contact label{
   width:136px;
}

/*.pager {
 padding:10px;
 width:100%;
 padding-left:40%;
}*/

.tbclass{margin:0 0px 0 15px;width:97%;}
.sumclass{float: right; padding: 0 15px 10px 0;}
.tbclass a{ text-decoration:none;color: #000;}
.tbclass:first-child {font-size:1.1em;font-weight:bold;background-color:#E8E8E8;}
.pdisplay{float: right;padding-top: 20px;margin-right: 35%; color: #000;}

    .success { background: none repeat scroll 0% 0% #E6EFC2;
               color: #264409; border-color: #C6D880;
             padding: 0.4em; margin-bottom: 1em; border: 2px solid #DDD; }

    .error { background: none repeat scroll 0% 0% #FBE3E4;
             color: #8A1F11; border-color: #FBC2C4;
             padding: 0.4em; margin-bottom: 1em; border: 2px solid #DDD; }

    .error_text { font-size: 12px; font-weight: bold; color: #8A1F11; }
    .eamBtn { font-size: 14px; font-size-adjust: none; font-weight: 400; height: 33px; width: 30%;
              padding-bottom: 6px; padding-left: 12px; padding-right: 12px; padding-top: 6px; text-align: center; }


